@media (max-width: 820px){
    .footer__links {
        padding-top: 2rem;
    }
  
    #footer__logo {
        margin-bottom: 2rem;
    }
  
    .website__rights {
        margin-bottom: 2rem;
    }
  
    .footer__links--wrapper {
        flex-direction: column;
    }
  
    .social__media--wrap {
        flex-direction: column;
    }
  }



